@import "library";

@mixin data-field{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: rgb(196, 196, 196);
    background: linear-gradient(to bottom right, rgb(177, 173, 173), rgb(196, 196,196), rgb(177, 173, 173));
    padding: 10px 20px 10px 20px;
    justify-items: center;
    border-radius: 1%;
    box-shadow: 2px 4px $secondary-color;
    color: black;
}

@mixin button-style{
        margin: 16px auto 16px auto;
        background-color: $button-color;
        color: white;
        padding: .25em 2em .25em 2em;
        border-radius: 8px;
}

@mixin button-hover{
    background-color: $hover-button;
}

@mixin button-active{
    border-style: solid;
    border-width: 2px;
    border-color: $third-color;
}


#creator_body{
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    top: 0; 
    width: 100vw;
    border: 0;
    outline: 0;
    color: $font-color;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9em;
}

h1{
    background: linear-gradient(to bottom right, #012138, $secondary-color, #012138);
    text-shadow: 1px 3px black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

}

#ship_to_from_po{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    align-items: space-evenly;
    margin: 0;
    padding: 0;
    background-color: white;

h2{
    text-align: center;
    margin-bottom: 1px;
}
    
.ship{
    @include data-field;
    margin: 8px auto 8px auto;
  
 hr{
     background-color: black;
     border: 0;
     height: .5px;
     margin: 0 0 8px 0;

 }
    
   .input_field{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 4px;

    }
}
}

#po_container{
    @include data-field;
    margin: 8px auto 8px auto;

    h2{
        margin-bottom: 1px;
    }

    hr{
        
        background-color: black;
        height: .5px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .po_inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
        margin-top: 8px;
    }
    label{
        text-align: left;
        margin-top: 8px;
        margin-bottom: 1px;
    }

    button{
        @include button-style;
        &:hover{
            @include button-hover;
        &:active{
            @include button-active;
        }
        }
    }
}

#main_table{
    width: 100vw;
    
    background: linear-gradient(to bottom right, #012138, $secondary-color, #012138);
    padding: 1em 3em 1em 3em;
    margin-top: 0;
    margin-bottom: 0px;
    color: rgb(223, 223, 223);

    .column_data{
        margin-bottom: 8px;
       
    }

    #itemDescription_header{
        width: 40vw;
    }
    .itemDescription{
        width: 95%;
        margin: 8px auto auto auto;
    }

    input{
        margin-top: 8px;
    }   
}

#final_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 128px;

    button{
        @include button-style;

        &:hover{
            @include button-hover;
        }
    }
}
