@import "library";

#creator_body{
    background-color: $base-color;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    border: 0;
    outline: 0;
    color: $font-color;
}

#ship_to_from{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    background-color: $button-color;

#shipFrom{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 5vh;
}

#shipTo{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 5vh;
}
}