@import "library";

@mixin data-field{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    /*background-color: $third-color;*/
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 2px;
    border-color: $button-color;
    padding: 10px 20px 10px 20px;
    justify-items: center;
    border-radius: 15%;
    box-shadow: 1px 5px $secondary-color;
}

@mixin button-style{
        width: 10vw;
        margin: 16px auto 16px auto;
        background-color: $button-color;
        color: white;
        padding: 4px 12px 4px 12px;
        border-radius: 8px;
}

@mixin button-hover{
    background-color: $hover-button;
}


#creator_body{
    background-color: $base-color;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    margin-top: 0;
    border: 0;
    outline: 0;
    color: $font-color;
    text-align: center;
}

#ship_to_from_po{
    /*margin: 0px auto auto 8px;*/
    display: flex;
    flex-direction: column;
    /*padding: 1em 2em 1em 2em;*/
    border-style: solid;
    border-width: 2px;
    border-color: black;
    align-items: space-evenly;
    margin: auto;

h2{
    text-align: center;
    margin-bottom: 1px;
}
    
.ship{
    @include data-field;
    margin: 8px auto 8px auto;
  
 hr{
     background-color: black;
     border: 0;
     height: 2px;
     margin: 0 0 8px 0;

 }
    
   .input_field{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 4px;

    }
}
}

#po_container{
    @include data-field;
    margin: 8px auto 8px auto;

    h2{
        margin-bottom: 1px;
    }

    hr{
        
        background-color: black;
        height: 2px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .po_inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
        margin-top: 8px;
    }
    label{
        text-align: left;
        margin-top: 8px;
        margin-bottom: 1px;
    }

    button{
        @include button-style;
        &:hover{
            @include button-hover;
        }
    }
}

#main_table{
    width: 100vw;
    background-color: $button-color;
    padding: 1em 3em 1em 3em;
    color: rgb(223, 223, 223);

    .column_data{
        margin-bottom: 8px;
       
    }

    #itemDescription_header{
        width: 40vw;
    }
    .itemDescription{
        width: 95%;
        margin: 8px auto auto auto;
    }
    /*tr{
        margin-bottom: 20px;
        margin-right: 28px;
        margin-left: 28px;
    }*/

    /*th{
        background-color: rgb(58, 8, 238);
    }*/
    
   /* input{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 8px;
        padding: 2px;
    }*/
    input{
        margin-top: 8px;
    }
    
}

#final_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;

    button{
        @include button-style;

        &:hover{
            @include button-hover;
        }
    }
    #final_submit{
        margin-right: 16px;
    }
    #send{
        margin-left: 16px;
    }
}
