$base-color: rgb(236, 236, 236);
$secondary-color: #494949;
$button-color: #082b44;
$hover-button: #273444;
$third-color: #eb8121;
$font-color: rgb(10, 10, 10);
$light-border: rgb(233, 230, 230);
$dark-border: $secondary-color;