/*$base-color: rgb(236, 236, 236);
$secondary-color: #494949;
$button-color: #082b44;
$hover-button: #273444;
$third-color: #eb8121;
$font-color: rgb(10, 10, 10);
$light-border: rgb(233, 230, 230);
$dark-border: $secondary-color;*/

$base-color: #56626b;
$secondary-color: #001524;
$button-color: #ff7d00;
$hover-button: #f0a763;
$third-color: #ffecd1;
$font-color: white;
$light-border: rgb(233, 230, 230);
$dark-border: $secondary-color;