@import "library";
#hamburger_icon{
    position: fixed;
    z-index: 3;
    border-width: 2px;
    border-color: $dark-border;
    border-radius: 10%;
    border-style: solid;
    margin: 16px;
    width: 2.75em;
    height: 2em;
    background-color: $button-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &:hover{
        background-color: $hover-button;
        border-color: white;

    }
        .line{
            height: .15em;
            width: 2em;
            background-color: white;
        }
}

#navbar{
    position: fixed;
    top: 0;
    background-color: $third-color;
    opacity: .98;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    text-decoration: none;
}


