@import "library";

#options_body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: $login-search-background;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#options_page_container{
    @include login-data-box;
    display: flex;
    flex-direction: column;
    height: 50vh;
    


    #header_text{
        text-align: center;
    }
    #search_or_new_text{
        text-align: center;
        font-size: 1.25em;
    }

    #button_container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.button{
    @include print-button;
    text-decoration: none;
}

.select_option{
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 1.15em;
}

#active_input_options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}

#search_by{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 16px;

.label_and_input{
    display: flex;
    flex-direction: row;
    font-size: 1.15em;
    margin-bottom: 8px;

    input{
        height: 1.15em;
    }
}

button{
    text-align: center;
    margin: auto;
    font-size: 1.05em;
    padding: .75em 1.5em .75em 1.5em;
}
}

#selected_option_submit{
    text-align: center;
    margin: 8px auto auto auto;
    font-size: 1.05em;
    padding: .75em 1.5em .75em 1.5em;
}


@media (max-width: 600px){
    #options_body{
    font-size: 12px;
    }
    .button{
        margin-bottom: .25em;
    }
}
