@media print{
    #pack_slip_body{
       color-adjust: exact; 
    }
   #hamburger_icon{
       display: none;
       opacity: 0;
   } 
   #print_container{
       display: none;
   }
   #packing_slip_header{
       margin-right: 0px;
   }
}