@media print {
    #pack_slip_body {
        color-adjust: exact;
    }

    #container {
        margin: 48px 24px 48px 24px;
    }

    #hamburger_icon {
        display: none;
        opacity: 0;
    }

    #print_container {
        display: none;
    }

    #table_container {
        font-size: 14px;
    }

    #packing_slip_header {
        margin-right: 0px;
    }

    #container {
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 2px;
    }

    .ship_from {
        font-size: 20px;
    }

    .ship_to {
        font-size: 16px;
        line-height: 1px;
    }

    #po_num {
        font-size: 18px;
    }

}

@media (max-width: 850px) {
    #ship_to_container {
        font-size: 10px;
    }
}