#pack_slip_body{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#header{
    text-align: right;
    margin-right: 64px;
    color: gray;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 64px;
    margin-right: 64px;
}

.ship_from{
    line-height: 1px;
    top: 0px;
}

.ship_to{
    margin-top: 32px;
    line-height: 6px;
    font-size: 22px;
}

#po_num{
    margin-top: 0px;
    font-size: 22px;
    line-height: 16px;
    margin-bottom: 64px;
}

#thank_you_text{
    text-align: center;
    line-height: 24px;
    margin-top: 2em;
}