@media print {
    #pack_slip_body {
        color-adjust: exact;
    }

    #container{
        margin: 48px 24px 48px 24px;
    }

    #hamburger_icon {
        display: none;
        opacity: 0;
    }

    #print_container {
        display: none;
    }

    #packing_slip_header {
        margin-right: 0px;
    }
}

@media (max-width: 850px) {
    #ship_to_container {
        font-size: 10px;
    }

    #print_button {
        font-size: 1.5em;
    }
}