@import "library";

#ship_to_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: white; 
}

#ship_from{
    margin-left: 4em;
    font-size: 1.75em;
    line-height: .25em;
}


#ship_to{
    //margin-left: 3em;
    margin-left: 20vw;
    font-size: 3.5em;
    line-height: .25em;
}


#pack_slip_po{
    font-size: 3em;
    margin-left: .25em;
}


@media print{
    #hamburger_icon{
        display: none;
    }
    #print_container{
        display: none;
        margin-bottom: 0px;
    }
    #ship_to_container{
        height: 730px; 
        width: 1050px;
        margin-bottom: .25em;
    }
}